.container {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
	position: relative;
	padding: 60px 30px;
	box-sizing: border-box;

 h2 {
		text-align: left;
		font-family: 'Roboto', sans-serif;
		font-weight: normal;
		font-style: normal;
		letter-spacing: 1px;
		margin: 0;
	}
}


header {
	padding-bottom: 50px;

	@media #{$tablet} {
		.container {
			display: flex;
		}

		.column {
			flex: 1;

			h1 {
			font-family: 'BebasNeueRegular';
			font-weight: normal;
			font-style: normal;
			}
			img {
				max-width: none;
				width: 100%;
			}

			&:first-child {
				display: flex;
				justify-content: center;
				align-items: center;
				margin-right: 50px;
			}
		}
	}

	img {
		margin: 100px auto 0 auto;
		display: block;
		max-width: 100%;
	}
}

header, nav {
	.container {
		padding-top: 0;
		padding-bottom: 0;
	}
}

.donate {
	text-align: center;
}

nav .button {
	position: absolute;
	right: 35px;
	top: 4px;
}
nav {
	position: sticky;
	top: 0;
	margin-bottom: 10px;
	padding: 10px 0;
	z-index: 1;
	background: #fff;
	transition: all 0.15s linear;

	display: flex;
	a{
		text-decoration: none;
		color: #999;
	}
	a:hover {
		color: $brand-color;
		transition: all 0.15s linear;
	}
	.logo {
		margin-top: 5px;
		padding-right: 0px;
		width: 400px;

		.meo-logo {
			display: inline-block;
			vertical-align: middle;
			margin-right: 10px;
		}
		h1 {
			display: inline-block;
			vertical-align: middle;
			font-family: 'Roboto', sans-serif;
			font-weight: normal;
			text-transform: uppercase;
			letter-spacing: 1px;
			line-height: 1.2rem;
			font-size: 1.2rem;
			margin: 0;

			span {
				font-size: 130%;
				letter-spacing: 3px;
			}
		}
	}
	.menu {
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		ul {
			float: right;
			display: none;
			li {
				display: inline-block;
				margin: 0 .5rem;
			}
			li::after {
				font-family: "Font Awesome 5 Free";
				font-weight: 900;
				content: "\f111";
				font-size: 5px;
				color: $brand-yellow;
				vertical-align: middle;
				margin-left: 1.5rem;
			}
			li:last-of-type::after {
				content: " "
			}
			@media #{$desktop} {
				display: inline-block;
			}
		}
	}
}
nav.active {
		box-shadow: 0 0 10px rgba(0,0,0,0.4);
		/*background: $brand-yellow;
		a {
		color: #222;
		}
		a:hover {
			color: #fff;
		}
		li::after {
			color: #fff !important;
		}*/
}


.top-button {
	display: none;
	@media #{tablet} {
		display: inline;
		width: 75px;
		height: 75px;
		border-radius: 100%;
		position: fixed;
		bottom: 1rem;
		right: 1rem;
		background: $brand-color;
	}
}

.thirds {
	@media #{$desktop} {
		display: flex;
	}
	margin: 90px -15px 0 -15px;
	padding: 0;
	list-style: none;

	li {
		box-sizing: border-box;
		margin: 70px 0px;
		width: 100%;
		border: 1px solid #dfdfdf;
		border-radius: 3px;
		padding: 0 30px 25px 30px;
		@media #{$desktop} {
			width: 33%;
			margin: 0 15px;
		}

		text-align: center;

		.image {
			display: inline-block;
			line-height: 0;
			background-image: url(../images/callout.svg);
			background-size: contain;
			background-repeat: no-repeat;
			background-position: top center;
			margin-top: -40px;
			padding: 10px;
			width: 60px;
			height: 60px;

			i {
				font-size: 2em;
				margin-top: 8px;
				color: #222;
			}
		i:hover {
			  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
			  transform: translate3d(0, 0, 0);
			  backface-visibility: hidden;
			  perspective: 1000px;
			}

			@keyframes shake {
			  10%, 90% {
			    transform: translate3d(-1px, 0, 0);
			  }

			  20%, 80% {
			    transform: translate3d(1px, 0, 0);
			  }

			  30%, 50%, 70% {
			    transform: translate3d(-3px, 0, 0);
			  }

			  40%, 60% {
			    transform: translate3d(3px, 0, 0);
			  }
			}
		}

		h3 {
			font-family: 'BebasNeueRegular';
			font-weight: normal;
			font-style: normal;
			letter-spacing: 1px;
		}
		p {
			font-size: 1.1rem;
		}

		svg {
			fill: $brand-color;
			padding: 5px;
		}
	}
}
blockquote {
	padding: 0;
	/*margin: 120px 0 70px 0;*/
	margin: 0;
	position: relative;

	.quote {
		padding: 30px 50px;
		max-width: 500px;
		margin: 0 auto;
		border-radius: 3px;
		position: relative;
		font-size: 1.3em;
		text-align: center;
		box-shadow: 0 20px 100px 0 rgba(0,0,0,0.1);
		color: #000;
		font-style: italic;

		&::before {
			content: "\201C";
			font-family: Georgia, serif;

			font-size: 90px;
			font-weight: bold;
			color: $brand-color;

			position: absolute;
			left: 0;
			top: -6px;
			text-align: center;
			width: 100%;
		}

		&::after {
			content: "";
			position: absolute;
			bottom: -30px;
			left: 50%;
			margin-left: -30px;
			border-width: 30px 30px 0;
			border-style: solid;
			border-color: #ffffff transparent;
			display: block;
			width: 0;
		}
	}

	.meta {
		text-align: center;
		vertical-align: middle;
		position: relative;
		z-index: 999;
		top: 35px;

		.author {
			display: inline-block;
			vertical-align: middle;
			margin: 0 0 0 10px;
		}
	}

	.image {
		display: inline-block;
		width: 70px;
		margin: 0 0 0 15px;
		vertical-align: middle;
		img {
			max-width: 100%;
			border-radius: 200px;
		}
	}
}

.newsletter {
	padding: 100px 0;
}

.callout {
	width: 100%;
	height: 25px;
	background-color: #f8fafb;
	/*background-color: #fff;*/
}
.callout-arrow {
  width: 0;
  height: 0;
  border-left: 0px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 25px solid #555;
	position: absolute;
	right: 5em;
}

footer {
	background: #555;

	.container {
		padding: 30px;
	}

	&, a {
		color: #fff;
	}

	a:hover {
		color: #fff;

		svg {
			fill: #fff;
		}
	}

	p {
		margin: 0;
		padding: 0;
	}

	p, address {
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		font-size: .9em;
		color: #fff;
		letter-spacing: 1px;
	}

	svg {
		fill: #8e8e8e;
		height: 20px;
		position: relative;
		top: 4px;
	}

	i {
		color: #999;
		font-size: 1.2em;
		margin: 5px;
	}

	i:hover {
		color: #fff;
		transition: all 0.15s linear;
	}

	a {
		text-decoration: none;

		svg:hover {
			fill: #fff;
		}
	}

	.container {
		@media #{$desktop} {
			display: flex;
			align-items: center;
		}
		div {
			@media #{$desktop} {
				width: 33%;
				margin: 0;
			}
			margin: 20px 0;
			box-sizing: content-box;
			padding: 0 25px;

		}
	}
}

.copyright {
	padding: 5px 0;
	margin: 0;
	background: #000;
	text-align: center;
	font-size: .8em;
	a {
		color: #8e8e8e;
		text-decoration: none;

		&:hover {
			color: #fff;
		}
	}
}

.posts {
	@media #{$desktop} {
		display: flex;
		/*display: grid;
		grid-template-columns: 1fr 1fr 1fr;*/
	}
	margin: 0 -20px;
	.post {
		flex: 1;
		border: 1px solid #eee;
		margin: 0 0 50px 0;
		background: #fff;
		border-radius: 3px;

		@media #{$desktop} {
			margin: 0 20px;
		}


		.image {
			height: 200px;
			background-position: center;
			background-size: cover;
			border-top-right-radius: 3px;
			border-top-left-radius: 3px;
		}

		.post-content {
			padding: 20px;

			a {
				text-decoration: none;
			}
			i {
				color: $brand-yellow;
				font-size: 1.3em;
				vertical-align: middle;
				margin-right: 5px;
			}
		}

		.date {
			color: #ccc;
			font-weight: bold;
			font-size: 1.1rem;
		}

		h3 {
			font-size: 2rem;
			font-family: 'BebasNeueRegular';
			font-weight: normal;
			font-style: normal;
			letter-spacing: 1px;
		}

		p {
			font-size: 1.1rem;
		}
	}
}

.post-title {

	h3 {
		margin: 0;
	}

	.date {
		padding: 0;
		margin: 0;
		font-size: .8em;
		color: #888;
	}

}

.editor-link {
 	display: none;
	margin-top: 0;
	.btn {
		border: 0;
		border-radius: 2px;
		width: 100%;
		max-width: 500px;
		box-sizing: border-box;
		font-size: 2rem;
		text-decoration: none;
		padding: 10px 15px;
		margin: 0;
		font-size: 18px;
		cursor: pointer;
		background-color: #f7e064;
		color: #333;
		box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2);

		&:hover {
			background-color: #f4d525;
			color: #333;
		}
	}

}

.cms-editor-active .editor-link {
	display: block;
}

.columns {
	@media #{$desktop} {
		display: flex;
		/*margin: 0 -30px;*/
		margin: 0 -30px 50px -30px;
		align-items: center;
		& > div {
			flex: 1;
			padding: 0 30px;
		}
	}
}

.darker {
	background: #f8fafb;
	padding: 60px 0;
}

.progress-bar {
	width: 100%;
	height: 10px;
	background: #eaeaea;
	border-radius: 5px;

	.percent-complete {
		height: 10px;
		background: $brand-yellow;
	}
}

.featured {
	font-size: 1.25em;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	letter-spacing: 1px;
	margin: 10px 0;
	padding: 5px;
	color: #555;
}
.roles {
	font-size: .6em;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	letter-spacing: 2px;
	color: #FFF;

	span {
	padding: 1px 5px;
	border-radius: 5px;
	display: inline-block;
	margin: 0 2px 5px 0;
	}

	.inst {
		background: $brand-color;
	}
	.cd {
		background: #ffc600;
	}
	.id {
		background: $brand-red;
	}
}
.divider {
	width: 200px;
	height: 10px;
	margin: 1rem auto;
	border-top: 5px solid $brand-yellow;
	border-bottom: 5px solid $brand-yellow;
}
